*, 
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.body-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #ffffff;
}
.title-one {
  font-weight: bold;
  font-size: 56px;
  letter-spacing: 0.02em;
  line-height: 1.07;
  max-width: 496px;
}
.title-two {
  font-weight: 500;
  font-size: 36px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.title-three {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
  color: #2e2f42;
  margin-bottom: 8px;
}
.button-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 4%;
  font-family: "Roboto", sans-serif;
  background-color: #4d5ae5;
  letter-spacing: 0.04em;
  color: #ffffff;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-text:focus {
  background-color: #404bbf;
}
.button-text:hover {
  background-color: #404bbf;
}

.nav-text {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.logo-text {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  line-height: 1.17;
  display: inline-block;
  margin-bottom: 16px;
  margin-right: 76px;
}
.span-text {
  color: #2e2f42;
}
.section-one-text {
  background-color: #2e2f42;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  padding: 188px 0;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/img-name.jpeg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.paragraph-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.section-three-text {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.unordered-lists-text .list-text {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 72px) / 4);
  flex-basis: calc((100% - 72px) / 4);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
  0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.footer-text {
  background-color: #2e2f42;
  padding: 100px 0;
}
.nav-lists-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  position: relative;
  color: #404bbf;
  transition:  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}
.nav-lists-text:hover {
  color: #404bbf;
}
.nav-lists-text:focus {
  color: #404bbf;
}
.contacts-list {
  font-style: normal;
  display: flex;
  margin-right: 40px;
  gap: 40px;
}
.contacts-text {
}
.contacts-text:hover {
  color: #404bbf;
}
.contacts-text:focus {
  color: #404bbf;
}

.section-two-text {
  padding: 120px 0;
}

.unordered-lists-text {
  display: flex;
  gap: 24px;
}
.section-two-lists {
    width: calc((100% - 72px) / 4);
    flex-basis: calc((100% - 72px) / 4);
}

.personel-lists-container {
  padding: 32px 0;
}
.employees-header {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}
.employees-jobs {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
.section-four-text {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-four-lists {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.app-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.footer-paragraph-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
  
}
.unordered-lists-text {
}
.section-four-lists .our-portfolio-lists {
    width: calc((100% - 48px) / 3);
   
}
.our-portfolio-lists:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.header-text {
  border-bottom: 1px solid #e7e9fc;
  box-shadow:  0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.menu-list {
  display: flex;
  gap: 40px;
}
.navbar-container {
  display: flex;
}
.contact {
  font-style: normal;
}
.contact-list {
  display: flex;
  gap: 40px;
  justify-content: center;
}
.link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); ;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
img {
    display: block;
  }
 .section-four-image-container {
  position: relative;
  overflow: hidden;  
 }
 .section-four-cards-paragraph {
  position: absolute; 
  top: 0;
  font-size: 16px; 
  line-height: 1.5;
  letter-spacing: 0.02em; 
  color: #f4f4fd; 
  padding: 40px 32px;
  background-color: #4d5ae5; 
  height: 100%;
  width: 100%;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%); 
 }
 .our-portfolio-lists {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 
 .social-media-lists {
  display: flex; 
  justify-content: center;
  gap: 24px; 
 }
 .social-media-icons {
  width: 40px;
  height: 40px;
  
 }
 .social-media-links {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 .instagram-icon {
  fill:  #f4f4fd
 }
 .strategy-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
 }
 .social-media-links:hover {
  background-color: #404bbf;
 }
 .social-media-links:focus {
  background-color: #404bbf;
 }
 .footer-container {
  display: flex;
  align-items: baseline;
 }
 .social-media-paragraph-class {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  margin-bottom: 16px;
 }
 .footer-social-media-lists {
  display: flex;
  gap: 16px;
 }
 .footer-social-media-lists-text {
  width: 40px; 
  height: 40px;
 
  
 }
 .instagram-link {
  width: 100%;
  height: 100%;
  background-color:  #4d5ae5;
  border-radius: 50%;
  display: flex; 
  align-items: center; 
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 .instagram-link:hover {
  background-color: #31d0aa;
 }
 .instagram-link:focus {
  background-color: #31d0aa;
 }
 .nav-lists-text::after {
  content: '';
  width: 100%;
  position: absolute;
  left: 0; 
  bottom: -1px;
  height: 4px;
  background-color: #404bbf; 
  border-radius: 2px; 

 }
 .our-portfolio-lists:hover .section-four-cards-paragraph {
  transform: translateY(0%);
 }
 .footer-form-paragraph {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px; 
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff; 
 }
 .footer-form-item {
  display: flex;
  gap: 24px;
 }
 .footer-email-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em; 
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
 }
 .footer-button-text {
  min-width: 165px; 
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4D5AE5;
  border: none; 
  border-radius: 4px;
 }
 .button-image-text {
  margin-left: 16px; 
 }
 .modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

 }
 .modal-container-item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px; 

 }
 .modal-container-button-text {
  position: absolute; 
  top: 24px;
  right: 24px; 
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex; 
  align-items: center; 
  justify-content: center;
  background-color: #e7e9fc; 
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer; 
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 .modal-container-button-text:hover {
  background-color: #404bbf;
  border: none;
  fill: #ffffff; 
 }
 .modal-container-button-text:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff; 
 }
 .modal-button-image {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 .modal-paragraph-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color:  #2E2F42;
  margin-bottom: 16px;
 }
 .modal-form-container {
  margin-bottom: 8px;
 }
 .label-text {
  font-size: 12px;
  line-height: 1.17; 
  letter-spacing: 0.04em;
  color:  #8e8f99;
  display: block;
  margin-bottom: 4px;
 }
 .input-and-logo-container {
  position: relative;
 }
 .input-text {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 .input-text:focus {
  border-color: #4D5AE5;
 }
 .input-image-text {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 .fourth-form-container {
  margin-bottom: 16px;
 }
 .textarea-text {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4); 
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px; 
  background-color: transparent; 
  padding: 8px 16px; 
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 .accept-container {
  margin-bottom: 24px; 
 }
 .accept-container-label-text {
  font-size: 12px; 
  line-height: 1.17;
  letter-spacing: 0.04em;
  color:  #8e8f99;
 }
 .label-span-text {
  width: 16px; 
  height: 16px; 
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center; 
  fill: transparent;
 }

 .label-connect-text {
  color:  #4d5ae5;
 }
 .form-button-text {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4D5AE5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: auto;
 }
.input-text:focus ~ .input-image-text {
  fill: #4D5AE5;
}
.textarea-text:focus.is-border{
  border-color: #4D5AE5; 
}
input[type="checkbox"]:checked + label .label-span-text {
  background-color: #404bbf;
  border: none;
  fill: #F4F4FD;
}